@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.adding {
    position: absolute;
    z-index: 9000;
    left: 85%;
    top: 87.5%;
    display: flex;
    justify-content: center; 
    width: 74px;
    height: 74px;
    border: 1px solid #4da9ff;
    border-radius: 100px;
    background: #4da9ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;


   p { 
       display: flex; 
       justify-content: center; 
       align-items: center; 
       cursor: pointer;
       z-index: 9999;    

       font-style: normal;
       font-weight: 400;
       font-size: 55px;
       line-height: 72px; 
       color: white;
       
      }
   } 
   .header {
   font-weight: 400;
   font-size: 44px;
   line-height: 53px;
   position: absolute;
   top: 120px;
   left: 10px;
   color: #000000;
   font-family: "Inter", sans-serif;
}

nav{
   position:absolute; 
	display:flex;
	flex-direction:column;
	justify-content: space-between; 
   width: 28%;
	min-height: 100vh;  
   background-color: #ffffff;
   z-index: 9999; 
   cursor: auto;
	transition: transform 1.8s;     
}  
.navbar{
   transform: translateX(-100%);
}
.menu__container{ 
   height: 100%; 
   width: 100%;
}
.menu__item{   
   padding: 40% 8.74% 42% 6.94%;
   height: 100%; 
   display: flex; 
   flex-direction: column; 
   justify-content: space-around;    
}

.menu__title{ 
   font-weight: 400;
   font-size: 44px;
   line-height: 53px;

   color: #000000;

   font-family: 'Inter', sans-serif;
}

.form-select { 
   position: absolute;
   top: 250px;
   left: 10px;
   padding-left: 13px;
   width: 94%;
   height: 50px;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
   font-family: "Inter", sans-serif;
   border: 1px solid #BDBDBD;
   border-radius: 4px; 
   cursor: pointer; 
} 

.menu__image{ 
   height: 62px; 

}
.label { 
   position: absolute;
   top: 300px;
   width: 100%;
   left: 10px;
   cursor: pointer;
}
.plus-input { 
   display: flex; 
   justify-content: center; 
   align-items: center;
   background: #4CA9FF; 
   width: 62px;
   height: 62px;
   position: absolute;
   top: 10px;
   border-radius: 5px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;

   color: #FFFFFF;
} 

.input_label {
   display: none;
}

.text-input { 
   position: absolute;
   top: 35px;
   left: 75px;
   width: 50%; 
   font-family: "Inter", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
}

.comment {
   box-sizing: border-box; 
   position: absolute;
   width: 94%;
   height: 107px;
   left: 10px;
   top: 380px; 
   border: 1px solid #BDBDBD;
   border-radius: 4px;
   padding-left: 10px;
   padding-top: 10px;
   resize: none;
}
.user-map {
   box-sizing: border-box;
   position: absolute;
   width: 94%;
   height: 50px; 
   top: 510px;
   border: 1px solid #BDBDBD;
   border-radius: 4px;
   padding-left: 10px;
   left: 10px;
}
.user-map-done {
   position: absolute;
   width: 78%;
   height: 60px;
   left: 37px;
   top: 570px;
   background: #4CA9FF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 11px;
   border: 1px solid #4CA9FF;
   cursor: pointer;
   p {
      position: absolute;
      width: 158px;
      height: 25px;
      left: 80px;
      top: 18px;
      font-family: "Ubuntu"; 
      font-size: 22px; 
      color: #FFFFFF;
   }
}
.menu__load {
   display: none; 
}  

.menu__description-title{  
   padding-left: 13px; 
   padding-top:15px ;
   width: 100%;
   height: 107px;
   border: 1px solid #BDBDBD;
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;

   resize: none;
   color: #000000;
} 

.menu__address-input{  
   padding-left: 13px;
   width: 100%; 
   height: 58px; 
   border: 1px solid #BDBDBD;
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;

   color: #000000;
} 
.menu__create-btn{  
   border: none; 
   outline: none;
   background: #4CA9FF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 11px; 
   width: 90%; 
   height: 60px;
} 
.menu__create-title{  
   font-family: 'Ubuntu', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 25px;
   color: #FFFFFF;
} 

.mobile {
   display: none;
   position: absolute;
   z-index: 9000;
   top: 90%;
   width: 100%;
}

.close{ 
   position: relative;
   left: 90%;
   top: 20px;
   color: #D1D1D1;
   font-size: 24px;
   cursor: pointer;
}

.input-address-valid {
   position: relative;
   left: -3%;
   top: 479px;
   color: #fe2000;
   font-size: 11px;
   font-family: "Inter", sans-serif;
}

@media screen and (max-width:1440px) {
   .adding{left: 90%;} 
   .header{ 
       font-size: 36px;
       line-height: 44px;
   } 
   nav{ 
       width: 33%;
   } 
   
}
@media screen and (max-width:1240px) {
   .adding{left: 88%;} 
   nav{ 
       width: 36%;
   } 
   .header{ 
      font-size: 34px;
       line-height: 42px; 
   } 
   .menu__description-title, .form-select, .text-input, .menu__address-input{ 
   font-size: 14px;
   line-height: 17px;
   } 
   .menu__create-title{ 
       font-size: 20px;
       line-height: 23px;
   }
}
@media screen and (max-width:1024px) {
   .adding{left: 85.5%;} 
   nav{ 
       width: 48%;
   } 
   .menu__title{ 
      font-size: 32px;
       line-height: 40px; 
   } 
} 
@media only screen and (max-width: 768px){ 
   .adding{left: 80.5%;} 
   nav{ 
       width: 100%;
   }  
   .menu__item{ 
       padding: 30% 8.74% 32% 6.94%;
   }
   .mobile{   
      position: absolute;
      z-index: 9000;   
      top: 80%; 
      width: 100%;
      
   }
   .mobile__btn{  
      border: none; 
      outline: none;
      background: #4CA9FF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 11px; 
      padding: 17px 115px 18px 115px; 
       
      font-weight: 400;
      font-size: 22px;
      line-height: 25px;
   
      color: #FFFFFF;
   }
   .user-map-done {
      position: absolute;
      width: 78%;
      height: 60px;
      left: 37px;
      top: 560px;
      background: #4CA9FF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 11px;
      border: 1px solid #4CA9FF;
      cursor: pointer;
      p {
         position: absolute;
         width: 70%;
         height: 25px;
         left: 70px;
         top: 18px;
         font-family: "Ubuntu"; 
         font-size: 22px; 
         color: #FFFFFF;
      }
   }
   .input-address-valid {
      position: relative;
      left: -3%;
      top: 480px;
   }
}
@media screen and (max-width:560px) {
   .adding{left: 75%;}
   .mobile{   
      position: absolute;
      z-index: 9000;   
      top: 80%; 
      width: 100%;
      
   }
   .mobile__btn{  
      border: none; 
      outline: none;
      background: #4CA9FF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 11px; 
      padding: 17px 115px 18px 115px; 
       
      font-weight: 400;
      font-size: 22px;
      line-height: 25px;
   
      color: #FFFFFF;
   }
   .user-map-done {
      position: absolute;
      width: 78%;
      height: 60px;
      left: 37px;
      top: 570px;
      background: #4CA9FF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 11px;
      border: 1px solid #4CA9FF;
      cursor: pointer;
      p {
         position: absolute;
         width: 55%;
         height: 25px;
         left: 70px;
         top: 18px;
         font-family: "Ubuntu"; 
         font-size: 22px; 
         color: #FFFFFF;
      }
   }
}  
@media screen and (max-height:900px) {
   .adding{top: 83.5%;} 
   .menu__item{ 
       padding: 19% 8.74% 18% 6.94%;
   }
}
@media screen and (max-height:685px) {
   .adding{top: 79%;} 
   .menu__item{ 
       padding: 11% 8.74% 11% 6.94%;
   }
   .mobile{   
      position: absolute;
      z-index: 9000;   
      top: 80%; 
      width: 100%;
      
   }
   .mobile__btn{  
      border: none; 
      outline: none;
      background: #4CA9FF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 11px; 
      padding: 17px 115px 18px 115px; 
      font-weight: 400;
      font-size: 22px;
      line-height: 25px;
      color: #FFFFFF;
   }
}


@media only screen and (max-width: 450px){
   .adding{ 
       display: none;
   } 
   .mobile{
       display: flex; 
       justify-content: center; 
       align-items: center;
   } 
   .menu__close{ 
       left: 90%;
   }
   .mobile{   
      position: absolute;
      z-index: 9000;   
      top: 80%; 
      width: 100%;  
   }

   .mobile__btn{  
      border: none; 
      outline: none;
      background: #4CA9FF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 11px; 
      padding: 17px 115px 18px 115px; 
      font-weight: 400;
      font-size: 22px;
      line-height: 25px;
      color: #FFFFFF;
   }
} 
@media screen and (max-width:425px) {
   .mobile__btn{ 
       padding: 15px 105px 16px 105px; 
       font-size: 20px;
       line-height: 22px;
   } 
   
} 
@media screen and (max-width:365px) { 

   .mobile__btn{ 
       padding: 14px 90px 15px 90px; 
       font-size: 17px;
       line-height: 19px;
   } 
   .menu__title{ 
      font-size: 28px;
       line-height: 38px; 
   }  
   .menu__create-title{ 
       font-size: 20px;
       line-height: 23px;
   }
   .user-map-done { 
      p {
         position: absolute;
         width: 57%;
         height: 25px;
         left: 60px;
         top: 18px;
         font-family: "Ubuntu"; 
         font-size: 22px; 
         color: #FFFFFF;
      }
   }
   .text-input {  
      width: 51%;    
   }
} 
@media screen and (max-width:310px) {
   .mobile__btn{ 
       padding: 14px 75px 15px 75px; 
       font-size: 16px;
       line-height: 18px;
   }
   .text-input {
      width: 65%;
   }
   .user-map-done {
      position: absolute;
      width: 80%;
      height: 50px;
      left: 28px;
      top: 560px;
      background: #4CA9FF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 11px;
      border: 1px solid #4CA9FF;
      cursor: pointer;
      p {
         position: absolute;
         width: 71%;
         height: 25px;
         left: 15%;
         top: 14px;
         font-family: "Ubuntu";
         font-size: 22px;
         color: #FFFFFF;
      }
   }
} 

@media screen and (min-width:810px) and (max-width: 1050px) and (min-height:1050px) and (max-height:1390px) {
   nav{ 
       width: 100%;
   } 
   .menu__title{ 
       font-size: 48px;
       line-height: 50px;
   } 
   .menu__item{ 
       padding: 25% 8.74% 26% 6.94%;
   } 
   .menu__description-title, .form-select, .text-input, .menu__address-input{ 
       font-size: 18px;
       line-height: 21px;
       }  
       .menu__close{ 
           font-size: 28px;
       } 
   .form-select{ 
       height: 60px;
   } 
   .plus-input{ 
       width: 70px;
       height: 70px; 
       font-size: 21px;
   } 
   .text-input{ 
       font-size: 21px;
       line-height: 23px;
   } 
   .menu__description-title{ 
       height: 127px; 
       font-size: 21px;
   } 
   .user-map-done {
      position: absolute;
      width: 88%;
      height: 60px;
      left: 37px;
      top: 560px;
      background: #4CA9FF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 11px;
      border: 1px solid #4CA9FF;
      cursor: pointer;
      p {
         position: absolute;
         width: 25%;
         height: 25px;
         left: 36%;
         top: 18px;
         font-family: "Ubuntu"; 
         font-size: 22px; 
         color: #FFFFFF;
      }
   }
}