.modalButton {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 12px 24px;
  }
  
  /* Modal */
  .overlay { 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
  }
  
  .modalContainer {
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 100px 800px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
  }
  
  img {
    width: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .modalRight {
    width: 100%;
  }
  
  .closeBtn {
    position: fixed;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 2rem;
    h1 {
        font-size: 30px;
    }
    p{
        margin-top: 10px;
        font-size: 15px;
    }
  }
  
  .btnContainer {
    display: flex;
    padding: 1rem 1rem;
  }
  .btnContainer button {
    width: 100%;
    margin: .5rem;
    padding: 16px 0;
    border: none;
    border: 1px solid #4CA9FF;
    border-radius: 20px;
    /* color: #ffffff; */
  }

//   .content-sidebar {
//     height: 200px;
//   }
  
  .btnPrimary {
    background-color: #4CA9FF;
    color: white;
    cursor: pointer;
  }
  
  .btnOutline {
    background-color: #4CA9FF;
    background-color: white;
    color: #070309;
    cursor: pointer;
  }
  
  .bold {
    font-weight: 600;
  }
  .close {
    color: #070309;
  }
  
  .close-modal { 
    color: black;
    font-size: 25px;
    display: flex;
    margin-top: 15px;
    margin-left: 93%;
    cursor: pointer;
  }
  @media screen and (max-width: 500px) {
    .modalContainer {
      flex-direction: column;
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: 100vh;
      background-color: rgb(45 44 44);
      h1{
        color: #ffffff;
        font-size: 30px;
      }
      p{
        margin-top: 10px;
        color: #ffffff;
        font-size: 20px; 
      }
    } 
    .btnContainer button {
        border-radius: 20px;
    }
    .modalRight {
        margin-top: 70px;
    }
  
    .heading {
      margin: 1rem;
    }  
    .close-modal { 
        color: #ffffff;
        cursor: pointer;
        margin-top: -50px;
        margin-left: 85%;
        font-size: 35px;
    }
    .bold {
        font-size: 15px;
    }
    .content {
        margin-top: 4rem;
    }
  }
    