@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.App{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.navbar{ 
	display: flex;
	justify-content: center;
	align-items: center; 
	transition: transform 1.8s;
}

.navbar-with {
	margin-left: 15%;
}

@media only screen and (max-width: 768px){
	.navbar-with{
		width: 100%;
		margin-left: 0;
	}

}
 body {
    margin: 0; 
 } 